@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    /* index styles */
    
    .background-container {
        background-color: #f8f8f8;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
      
    .background {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    

    section.profile h1 {
        font-size: 2rem;
    }

    section.profile .badge {
        width: 128px;
        height: 128px;
        margin: 0 auto 40px;
        padding: 15px 0 0;
    }
    
    section.profile .badge .photo {
        border-radius: 50%;
        border: 3px solid #fff;
        box-shadow: 0 0 35px 2px rgba(0,0,0,0.3);
    }
    
    section.profile {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        min-width: 300px;
        padding: 0 15px;
        margin: 30px auto;
        z-index: 1;
    }
    
    .btn-linkedin {
        color: var(--blue-70,#0073b1);
    }
    
    @media (min-width: 320px) {
      section.profile {
          width: 91.66666667%;
          padding: 25px;
          border-radius: .35rem;
          box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 2px 5px #fff;
          background-color: rgba(255,255,255,0.9);
      }
      
        .background {
            display: block;
        }
    }
    
    @media (min-width: 425px) {
      section.profile {
          width: 83.33333333%;
      }
    }
      
    @media (min-width: 525px) {
      section.profile {
          width: 66.66666667%;
      }
    }
    
    @media (min-width: 610px) {
      section.profile {
          width: 58.33333333%;
      }
    }
    
    @media (min-width: 768px) {
        section.profile {
            width: 50%;
            margin: 30px auto 120px;
        }
    }
    
    @media (min-width: 900px) {
        section.profile {
            width: 41.66666667%;
        }
    }
    @media (min-width: 992px){
        section.profile {
            width: 33.33333333%;
            position: absolute;
            top: 40px;
            left: 40px;
            margin: 0 auto 120px;
        }
    }
    
    @media (min-width: 1024px){
        section.profile {
            width: 33.33333333%;
        }
    }

    /* Spinner */
    .loader,
    .loader:before,
    .loader:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
    .loader {
      color: #7a7a7a;
      font-size: 10px;
      margin: 80px auto;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
      content: '';
      position: absolute;
      top: 0;
    }
    .loader:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .loader:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
          