@using svaerke.github.io.Components;
@page "/playground/counter"

<div id="counterScene">
    <ol id="coins">
        @foreach (var currencyModel in currencyModels)
        {
            <Coin CurrencyModel=currencyModel />
        }
    </ol>
</div>
<label id="total">@storage.CurrencyTotal.ToString().Replace(".5", ",50") kr.
  <input type="checkbox">
    <span class="reset" @onclick="storage.ResetCurrencyCount"> ❎</span>
</label>