@using svaerke.github.io.Components;
@page "/playground/counter"

<div id="total">@storage.CurrencyTotal.ToString().Replace(".5", ",50") kr.</div>
<div id="counterScene">
    <ol id="coins">
        @foreach (var currencyModel in currencyModels)
        {
            <Coin CurrencyModel=currencyModel />
        }
    </ol>
</div>