@using svaerke.github.io.Components;
@page "/playground/counter"

<h1>Counter</h1>

<p>Current count: NotImplemented</p>
<div id="counterScene">
    <ol id="coins">
        @foreach (var currencyModel in currencyModels)
        {
            <Coin CurrencyModel=currencyModel />
        }
    </ol>
</div>